<h2 mat-dialog-title>Nouveau Testeur</h2>

<mat-dialog-content class="mat-typography">
    <form action="" [formGroup]="testeurForm">
        <mat-form-field class="example-full-width">
            <mat-label>Matricule</mat-label>
            <input matInput placeholder="2015075AI" name="matricule" id="matricule" formControlName="matricule">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Ex. Coundoul"  formControlName="nom" required>
      </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Ex. Ousseynou"  formControlName="prenom" required>
        </mat-form-field>
    
    </form>

</mat-dialog-content>
<mat-dialog-actions class="custom-align">
  <button mat-fab extended  color="accent" mat-dialog-close>Annuler</button>
  <button mat-fab extended  color="primary"  [mat-dialog-close]="true" cdkFocusInitial (click)="addTesteur()">{{actionBtn}}</button>
</mat-dialog-actions>
