<div class="container-fluide page">
  <div class="page_content shadow p-3 position-relative">
    <span class="example-spacer"></span>
    <button class="btn btn-primary" (click)="openDialog()" style="margin-left: 1000px; margin-top: 30px;">
      <i class="bi bi-plus" style="width: 100px;"></i> Ajouter un testeur
    </button>
    
  </div>

  <div class="container mt-6">
    <div class="mb-3">
      <div class="input-group" style="margin-bottom: 20px;">
        <span class="input-group-text">Rechercher</span>
        <input type="text" class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Ex. Mia">
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Matricule</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of dataSource?.data; let i = index" style="color: cornflowerblue;">
            <td>{{ i + 1 }}</td>
            <td>{{row.matricule}}</td>
            <td>{{row.prenom}}</td>
            <td>{{row.nom}}</td>
            <td>
              <button class="btn btn-primary" (click)="editDialog(row)"> <i class="bi bi-pencil"></i></button>
              <button class="btn btn-danger" (click)="deleteTesteur(row.idTesteur)"><i class="bi bi-trash"></i></button>
            </td>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </tbody>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" style="margin-bottom: 500px;"></mat-paginator>
    </div>
  </div>
</div>
