<div class="container-fluide page">
    
    <div class="page_content shadow p-3 position-relative">
      <div class="page_box p-3 mt-2" style="color: rgb(1, 111, 182); height: 50px; margin-top: 15px;">Détail des Scénarios de Test : CasTest-{{refCasTest}}</div>
      <mat-toolbar style="background-color: white;">

        <span class="example-spacer"></span>
        <button type="button" class="btn btn-primary"  style="margin-right: 30px; margin-bottom: 20px;" (click)="openDialog()">
          <i class="bi bi-plus"></i>
          Scénario De Test
        </button>
          <span class="example-spacer"></span>
      </mat-toolbar>

      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">No Scénario </th>
              <th scope="col">Scénario de Test</th>
              <th scope="col">Resutat Cas de Test</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of dataSource?.data; let i = index" style="color: rgb(1, 111, 182);">
              <td>{{ i + 1 }}</td>
              <td>{{row.scenario}}</td>
              <td>{{resultat}}</td>
              <td>
                <button class="btn btn-link text-primary" (click)="editDialog(row)">
                  <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-link text-danger" (click)="deleteScenario(row.refScenario)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
          </tbody>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of scenario" style="margin-bottom: 600px;"></mat-paginator>
      </div>
    </div>
  </div>
  