<div class="container-fluide page">
  <div class="page_content shadow p-3 position-relative">
      <div class="page_content-data position-absolute text-center">
      </div>

      <mat-toolbar style="background-color: white;">
          <span class="example-spacer"></span>
          <button mat-fab extended  color="accent" aria-label="Example icon-button with share icon" (click)="openDialogManager()">
            <mat-icon>add</mat-icon>
            Ajouter
          </button>
      </mat-toolbar>

<div class="container-fluid page">

  <div class="page_content shadow p-3 position-relative">
    <div class="page_content-data position-absolute text-center"></div>

    <div class="container">
      <div class="mt-2">
        <div class="input-group mb-3">
          <span class="input-group-text">Rechercher</span>
          <input type="text" class="form-control" matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Nom Release</th>
                <th scope="col">Date Livraison</th>
                <th scope="col">Date Prévision</th>
                <th scope="col">Date Réelle</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of dataSource?.data" style="color: cornflowerblue;">
                <td>RPP-{{row.refRelease}}</td>
                <td>{{row.nomRelease}}</td>
                <td>{{row.dateLivraison | date:'shortDate'}}</td>
                <td>{{row.datePrevision | date:'shortDate'}}</td>
                <td>{{row.dateReelle | date:'shortDate'}}</td>
                <td>
                  <a [routerLink]="['' , row.refRelease, row.nomRelease, 'dashboard']" class="btn btn-link" matTooltip="Tableau de bord">
                    <i class="bi bi-speedometer2"></i>
                  </a>
                  <a [routerLink]="['' , row.refRelease, row.nomRelease, 'view']" class="btn btn-link text-primary">
                    <i class="bi bi-eye"></i>
                  </a>
                  <button class="btn btn-link text-primary" (click)="editDialog(row)">
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button class="btn btn-link text-danger" (click)="deleteRelease(row.refRelease)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" style="margin-bottom: 500px;"></mat-paginator>

      </div>
    </div>
  </div>
</div>
