<h2 mat-dialog-title style="color: rgb(1, 111, 182);">Modifier Release</h2>

<mat-dialog-content class="mat-typography">
  <form action="" [formGroup]="FormGroup1">

    <div class="form-group">
      <label for="nomRelease">Nom Release</label>
      <input type="text" class="form-control" id="nomRelease" placeholder="Projet 1" formControlName="nomRelease" required>
    </div>

    <div class="form-group">
      <label for="dateLivraison">Date Livraison</label>
      <input type="text" class="form-control" id="dateLivraison" placeholder="{{ 'MM/dd/yyyy' | date:'shortDate' }}" formControlName="dateLivraison" required>
    </div>
    

    <div class="form-group">
      <label for="datePrevision">Date Prévision</label>
      <input type="text" class="form-control" id="datePrevision" placeholder="{{ 'MM/dd/yyyy' | date:'shortDate' }}" formControlName="datePrevision" required>
    </div>

    <div class="form-group">
      <label for="dateReelle">Date Réelle</label>
      <input type="text" class="form-control" id="dateReelle" placeholder="{{ 'MM/dd/yyyy' | date:'shortDate' }}" formControlName="dateReelle" required>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
  <div class="step-buttons">
    <button class="btn btn-secondary" color="primary" ria-label="Example icon-button with share icon" mat-dialog-close>Annuler</button>
    <button class="btn btn-primary"  style="margin-left: 20px;color: rgb(1, 111, 182);"[mat-dialog-close]="true" cdkFocusInitial (click)="updateRelease()">Modifier</button>
  </div>
</mat-dialog-actions>
