<h2 mat-dialog-title>Modifier Release</h2>

<mat-dialog-content class="mat-typography">
    <form action="" [formGroup]="FormGroup1">

      <mat-form-field class="example-full-width">
        <mat-label>Nom Release</mat-label>
        <input matInput placeholder="Projet 1" formControlName="nomRelease" required>
      </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Date Livraison</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="dateLivraison" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>Date Prévision</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="datePrevision" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Date Réelle</mat-label>
            <input matInput [matDatepicker]="picker3" formControlName="dateReelle" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  <button mat-fab extended  color="accent" mat-dialog-close>Annuler</button>
  <button mat-fab extended  color="primary"  [mat-dialog-close]="true" cdkFocusInitial (click)="updateRelease()">Modifier</button>
</mat-dialog-actions>
