<div class="container-fluide page">
  <div class="page_box p-3 mt-2"><h1 style="color: rgb(1, 111, 182)">{{info}}</h1>  <p class="mt-3" style="text-align: center; font-size: 20px; font-family:fantasy;">Tableau de Bord Vision Evolutions</p></div>
  <div class="page_content shadow p-3 position-relative">
      <div class="page_content-data position-absolute text-center">
          <!-- Vision par Tickets des Évolutions -->
          <!-- <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart> -->
      </div>
      <div class="row">
          <div class="col-sm-8">
            <h1 style="color: rgb(1, 111, 182)">Des Tickets</h1> 
              <hr>
             
              <table class="table mt-3">
                  <tbody>
                    <tr style="background-color:#7FFFD4;">
                      <th>Totaux</th>
                      <td>Nb</td>
                      <td>%</td>

                  
                    </tr>
          
                    <tr>
                      <th >OK</th>
                      <td style="color: rgb(1, 111, 182);font-weight: bold;">{{ok}}</td>
                      <td style="color: rgb(1, 111, 182);font-weight: bold;">{{okp}}</td>
                    </tr>
                    <tr>
                      <th >KO</th>
                      <td style="color: rgb(1, 111, 182);font-weight: bold;">{{ko}}</td>
                      <td style="color: rgb(1, 111, 182);font-weight: bold;">{{kop}}</td>
                    </tr>
                    <tr>
                      <th >Non testés</th>
                      <td style="color: rgb(1, 111, 182);font-weight: bold;">{{nt}}</td>
                      <td style="color: rgb(1, 111, 182);font-weight: bold;">{{ntp}}</td>
                    </tr>
                    <tr>
                      <th >Abandonnés</th>
                      <td style="color: rgb(1, 111, 182);font-weight: bold;">{{ab}}</td>
                      <td style="color: rgb(1, 111, 182);font-weight: bold;">{{abp}}</td>
                    </tr>
                    <tr>
                      <th >Bloquée</th>
                      <td style="color: rgb(1, 111, 182);font-weight: bold;">{{bl}}</td>
                      <td style="color: rgb(1, 111, 182);font-weight: bold;">{{blp}}</td>
                    </tr>
                    <tr>
                      <th >Hors Périmètre</th>
                      <td style="color: rgb(1, 111, 182);font-weight: bold;">{{hp}}</td>
                      <td style="color: rgb(1, 111, 182);font-weight: bold;">{{hpp}}</td>
                    </tr>
                  </tbody>
              </table>
          </div>
          <div class="col-sm-4">
              <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
          </div>

          <hr>
          
      </div>
      <br>  
      <div class="row">
        <div class="col-sm-8">
           <h1 style="color: rgb(1, 111, 182)">Par Cas de Test</h1> 
            <hr>
            <table class="table mt-3">
                <tbody>
                  <tr style="background-color:#FFEBCD;">
                    <th>Totaux</th>
                    <td>Nb</td>
                    <td>%</td>

                
                  </tr>
                  
                  <tr>
                    <th >Ok</th>
                    <td style="color: rgb(1, 111, 182);font-weight: bold;">{{cok}}</td>
                    <td style="color: rgb(1, 111, 182);font-weight: bold;">{{cokp}}</td>
                  </tr>
                  <tr>
                    <th >KO</th>
                    <td style="color: rgb(1, 111, 182);font-weight: bold;">{{cko}}</td>
                    <td style="color: rgb(1, 111, 182);font-weight: bold;">{{ckop}}</td>
                  </tr>
                  <tr>
                    <th >Bloqués</th>
                    <td style="color: rgb(1, 111, 182);font-weight: bold;">{{cbl}}</td>
                    <td style="color: rgb(1, 111, 182);font-weight: bold;">{{cblp}}</td>
                  </tr>
                  <tr>
                    <th >Non Testé</th>
                    <td style="color: rgb(1, 111, 182);font-weight: bold;">{{cnt}}</td>
                    <td style="color: rgb(1, 111, 182);font-weight: bold;">{{cntp}}</td>
                  </tr>

                  <tr>
                    <th >Hors Périmètre</th>
                    <td style="color: rgb(1, 111, 182);font-weight: bold;">{{chp}}</td>
                    <td style="color: rgb(1, 111, 182);font-weight: bold;">{{chpp}}</td>
                  </tr>

                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
          <br>
            <p-chart type="doughnut" [data]="dataTest" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
        </div>

        <hr>
        
        <div class="container">
          <div class="mt-2">
            <h2 style="text-align: center;margin-top: 50px;color: rgb(1, 111, 182);">Gestion des Anomalies</h2>
            <table class="table table-bordered border-primary" style="font-size: 150px;">
              <tr>
                <td rowspan="2" style="font-size: 13px; background-color: #C0C0C0; font-weight: bold;">
                  Sévérité   
                </td>
                <td colspan="3" style="text-align: center;" style="font-size: 13px; background-color: #C0C0C0; font-weight: bold;">
                  En Cours
                </td>
                <td colspan="5" style="text-align: center; font-size: 13px; background-color: #C0C0C0; font-weight: bold;">
                  Clôturées
                </td>
                <td style="background-color: #C0C0C0;"></td>
               </tr>
               <tr>
                
                  <td style="font-size: 13px; background-color: #FFDEAD;text-align: center;">A traiter</td>
                  <td style="font-size: 13px; background-color: #FFDEAD;text-align: center;">Corriger</td>
                  <td style="font-size: 13px; background-color: #FFDEAD;text-align: center;">Vérification</td>

                  <td style="font-size: 13px; background-color: #7FFFD4;text-align: center;">Validation Correctif(s)</td>
                  <td style="font-size: 13px; background-color: #7FFFD4;text-align: center;">Rejetées</td>

                  <td style="font-size: 13px; background-color: #7FFFD4;text-align: center;">Problèmes de documentation</td>
                  <td style="font-size: 13px; background-color: #7FFFD4;text-align: center;">Arbitrage projet et évolution </td>
                  <td style="font-size: 13px; background-color: #C0C0C0;text-align: center; font-weight: bold;">Total</td>

               </tr>

               <tr>
                <td style="font-size: 15px;">BLOQUANTE</td>
                <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{BLAT}}</td>
                <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{BLCO}}</td>
                <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{BLVE}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{BLVC}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{BLRE}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{BLPD}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{BLAPE}}</td>
                <td style="font-size: 15px; background-color: #C0C0C0;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{BLT}}</td>
               </tr>

               <tr>
                <td style="font-size: 15px;">MAJEURE</td>
                <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MJAT}}</td>
                <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MJCO}}</td>
                <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MJVE}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MJVC}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MJRE}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MJPD}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MJAPE}}</td>
                <td style="font-size: 15px; background-color: #C0C0C0;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MJT}}</td>
               </tr>

               <tr>
                <td style="font-size: 15px;">MINEURE</td>
                <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MNAT}}</td>
                <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MNCO}}</td>
                <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MNVE}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MNVC}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MNRE}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MNPD}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MNAPE}}</td>
                <td style="font-size: 15px; background-color: #C0C0C0;text-align: center;color: rgb(1, 111, 182);font-weight: bold;">{{MNT}}</td>
               </tr>
               <tr>
                <td style="font-size: 15px;">TOTAL</td>
                <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{BLAT+MJAT+MNAT}}</td>
                <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{BLCO+MJCO+MNCO}}</td>
                <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{BLVE+MJVE+MNVE}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{BLVC+MJVC+MNVC}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{BLRE+MJRE+MNRE}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{BLPD+MJPD+MNPD}}</td>
                <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{BLAPE+MJAPE+MNAPE}}</td>
                <td style="font-size: 15px; background-color: #C0C0C0;text-align: center;">{{BLT+MJT+MNT}}</td>
               </tr>

            </table>
          </div>
        </div>

    </div>
  </div>
  
</div>