<div class="container-fluide page">
    <div class="page_box p-3 mt-2">{{info}} <p class="mt-3" style="text-align: center; font-size: 20px; font-family:fantasy;">Tableau de Bord Vision Evolutions</p></div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-absolute text-center">
            <!-- Vision par Tickets des Évolutions -->
            <!-- <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart> -->
        </div>
        <div class="row">
            <div class="col-sm-8">
                Des Tickets
                <hr>
               
                <table class="table mt-3">
                    <tbody>
                      <tr style="background-color:#7FFFD4;">
                        <th>Totaux</th>
                        <td>Nb</td>
                        <td>%</td>

                    
                      </tr>
            
                      <tr>
                        <th style="background-color:#7FFFD4;">OK</th>
                        <td>{{ok}}</td>
                        <td>{{okp}}</td>
                      </tr>
                      <tr>
                        <th style="background-color:#7FFFD4;">KO</th>
                        <td>{{ko}}</td>
                        <td>{{kop}}</td>
                      </tr>
                      <tr>
                        <th style="background-color:#7FFFD4;">Non testés</th>
                        <td>{{nt}}</td>
                        <td>{{ntp}}</td>
                      </tr>
                      <tr>
                        <th style="background-color:#7FFFD4;">Abandonnés</th>
                        <td>{{ab}}</td>
                        <td>{{abp}}</td>
                      </tr>
                      <tr>
                        <th style="background-color:#7FFFD4;">Bloquée</th>
                        <td>{{bl}}</td>
                        <td>{{blp}}</td>
                      </tr>
                      <tr>
                        <th style="background-color:#7FFFD4;">Hors Périmètre</th>
                        <td>{{hp}}</td>
                        <td>{{hpp}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
            </div>

            <hr>
            
        </div>
        <br>  
        <div class="row">
          <div class="col-sm-8">
              Par Cas de Test
              <hr>
              <table class="table mt-3">
                  <tbody>
                    <tr style="background-color:#FFEBCD;">
                      <th>Totaux</th>
                      <td>Nb</td>
                      <td>%</td>

                  
                    </tr>
                    
                    <tr>
                      <th style="background-color:#FFEBCD;">Ok</th>
                      <td>{{cok}}</td>
                      <td>{{cokp}}</td>
                    </tr>
                    <tr>
                      <th style="background-color:#FFEBCD;">KO</th>
                      <td>{{cko}}</td>
                      <td>{{ckop}}</td>
                    </tr>
                    <tr>
                      <th style="background-color:#FFEBCD;">Bloqués</th>
                      <td>{{cbl}}</td>
                      <td>{{cblp}}</td>
                    </tr>
                    <tr>
                      <th style="background-color:#FFEBCD;">Non Testé</th>
                      <td>{{cnt}}</td>
                      <td>{{cntp}}</td>
                    </tr>

                    <tr>
                      <th style="background-color:#FFEBCD;">Hors Périmètre</th>
                      <td>{{chp}}</td>
                      <td>{{chpp}}</td>
                    </tr>

                  </tbody>
              </table>
          </div>
          <div class="col-sm-4">
            <br>
              <p-chart type="doughnut" [data]="dataTest" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
          </div>

          <hr>
          
          <div class="container">
            <div class="mt-2">
              <h2 style="text-align: center;">Gestion des Anomalies</h2>
              <table class="table table-bordered border-primary">
                <tr>
                  <td rowspan="2" style="font-size: 13px; background-color: #C0C0C0; font-weight: bold;">
                    Sévérité   
                  </td>
                  <td colspan="3" style="text-align: center;" style="font-size: 13px; background-color: #C0C0C0; font-weight: bold;">
                    En Cours
                  </td>
                  <td colspan="5" style="text-align: center; font-size: 13px; background-color: #C0C0C0; font-weight: bold;">
                    Clôturées
                  </td>
                  <td style="background-color: #C0C0C0;"></td>
                 </tr>
                 <tr>
                  
                    <td style="font-size: 13px; background-color: #FFDEAD;text-align: center;">A traiter</td>
                    <td style="font-size: 13px; background-color: #FFDEAD;text-align: center;">Corriger</td>
                    <td style="font-size: 13px; background-color: #FFDEAD;text-align: center;">Vérification</td>

                    <td style="font-size: 13px; background-color: #7FFFD4;text-align: center;">Validation Correctif(s)</td>
                    <td style="font-size: 13px; background-color: #7FFFD4;text-align: center;">Rejetées</td>
  
                    <td style="font-size: 13px; background-color: #7FFFD4;text-align: center;">Problèmes de documentation</td>
                    <td style="font-size: 13px; background-color: #7FFFD4;text-align: center;">Arbitrage projet et évolution </td>
                    <td style="font-size: 13px; background-color: #C0C0C0;text-align: center; font-weight: bold;">Total</td>

                 </tr>

                 <tr>
                  <td style="font-size: 15px;">BLOQUANTE</td>
                  <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{BLAT}}</td>
                  <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{BLCO}}</td>
                  <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{BLVE}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{BLVC}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{BLRE}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{BLPD}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{BLAPE}}</td>
                  <td style="font-size: 15px; background-color: #C0C0C0;text-align: center;">{{BLT}}</td>
                 </tr>

                 <tr>
                  <td style="font-size: 15px;">MAJEURE</td>
                  <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{MJAT}}</td>
                  <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{MJCO}}</td>
                  <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{MJVE}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{MJVC}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{MJRE}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{MJPD}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{MJAPE}}</td>
                  <td style="font-size: 15px; background-color: #C0C0C0;text-align: center;">{{MJT}}</td>
                 </tr>

                 <tr>
                  <td style="font-size: 15px;">MINEURE</td>
                  <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{MNAT}}</td>
                  <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{MNCO}}</td>
                  <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{MNVE}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{MNVC}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{MNRE}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{MNPD}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{MNAPE}}</td>
                  <td style="font-size: 15px; background-color: #C0C0C0;text-align: center;">{{MNT}}</td>
                 </tr>
                 <tr>
                  <td style="font-size: 15px;">TOTAL</td>
                  <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{BLAT+MJAT+MNAT}}</td>
                  <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{BLCO+MJCO+MNCO}}</td>
                  <td style="font-size: 15px; background-color: #FFDEAD;text-align: center;">{{BLVE+MJVE+MNVE}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{BLVC+MJVC+MNVC}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{BLRE+MJRE+MNRE}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{BLPD+MJPD+MNPD}}</td>
                  <td style="font-size: 15px; background-color: #7FFFD4;text-align: center;">{{BLAPE+MJAPE+MNAPE}}</td>
                  <td style="font-size: 15px; background-color: #C0C0C0;text-align: center;">{{BLT+MJT+MNT}}</td>
                 </tr>

              </table>
            </div>
          </div>

      </div>
    </div>
    
</div>
