<h2 mat-dialog-title>Nouveau Scénario</h2>

<mat-dialog-content class="mat-typography">
    <form action="" [formGroup]="scenarioForm">

      <mat-form-field class="example-full-width">
        <mat-label>Scénario</mat-label>
        <input matInput placeholder="nom scenario" formControlName="scenario" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Cas De Test</mat-label>
        <mat-select formControlName="casDeTest" required>
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let cas of listCasTest" [value]="cas">CasTest-{{cas.refCasTest}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    </form>

</mat-dialog-content>
<div class="step-buttons">
  <button class="btn btn-secondary" class="btn btn-secondary" color="primary" ria-label="Example icon-button with share icon" mat-dialog-close>Annuler</button>
  <button class="btn btn-primary" (click)="addScenario()">{{actionBtn}}</button>
</div>

